.containerSettings {
    width: 30%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 15px;
    border: 3px solid rgba(44, 214, 236, 0.85);
}

.settings {
    border: 3px solid rgba(44, 214, 236, 0.85);
    border-radius: 10px;
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    gap: 10px;
    padding: 5px;
}

.containerSettingsButtons {
    display: flex;
    justify-content: space-around;
    width: 80%;
    border: 3px solid rgba(44, 214, 236, 0.85);
    border-radius: 10px;
    padding: 5px;
    gap: 10px;
}

.spanAndInputContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.span{
    margin-bottom: 5px;
    font-size: 25px;
}

.input {
    width: 50%;
    outline: none;
    border: 2px solid rgba(44, 214, 236, 0.85);;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
}

.input.error {
    outline: none;
    border: 1px solid red;
    background-color: red;
}

